---
{
	"title": "Getting Started with the Web Experience Toolkit",
	"language": "en",
	"description": "Getting started with the Web Experience Toolkit",
	"altLangPrefix": "start",
	"dateModified": "2014-03-27"
}
---
<div class="row">
	<div class="wb-pg-bnr container">
		<p>Follow these quick steps to understand how to get started using the Web Experience Toolkit on your own site to create <a href="home-en.html">usable</a>, <a href="home-en.html">accessible</a>, <a href="home-en.html">mobile-friendly websites and applications</a>. Before you get started, discover which <a href="#">variants</a> are available in the Web Experience Toolkit. Start by choosing a flexible theme. Then find the components that meet your content needs. Finally, customize display elements such as buttons and icons.</p>
	</div>
</div>


		<div id="get-started-steps">
			<div class="row">
			<details>
				<summary>
						<span class="step-title"><object type="image/svg+xml" tabindex="-1" role="img" data="images/1-circle.svg" aria-label="Web Experience Toolkit"></object>Choose a theme</span><span class="step-details">There are five themes to choose from. You define the look and feel of your website through the cascading style sheet (CSS). If you are using a content management system, then you can find more information in <a href="#">variants.</a></span>
				</summary>
				<div class="tgl-panel">
			<div class="row theme-link">
						<div class="col-md-4 col-sm-6">
							<h4>Base theme</h4>
							<a href="http://wet-boew.github.io/themes-dist/theme-base/docs/ref/theme-base/theme-base-en.html" target="_blank"><object type="image/svg+xml" tabindex="-1" role="img" data="images/basetheme.svg" aria-label="Web Experience Toolkit"></object></a>
							<p>A Base theme template for creating your own theme.</p>
							<a href="#">Download Base theme</a>
						</div>
						<div class="col-md-4 col-sm-6">
							<h4>Canada.ca theme</h4>
							<a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-en.html" target="_blank"><object type="image/svg+xml" tabindex="-1" role="img" data="images/canada.catheme.svg" aria-label="Web Experience Toolkit"></object></a>
							<p>Mandatory theme for Canada.ca users only. It implements requirements for Canada.ca</p>
							<a href="#">Download Canada.ca theme</a>
						</div>
						<div class="col-md-4 col-sm-6">
							<h4>Intranet theme</h4>
							<a href="http://wet-boew.github.io/themes-dist/theme-gc-intranet/docs/ref/theme-gc-intranet/theme-gc-intranet-en.html" target="_blank"><object type="image/svg+xml" tabindex="-1" role="img" data="images/intranettheme.svg" aria-label="Web Experience Toolkit"></object></a>
							<p>Built by the community for the community, open for re-use and adapting.</p>
							<a href="#">Download Intranet theme</a>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6">
							<h4>Usability theme</h4>
							<a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/docs/ref/theme-gcwu-fegc/theme-gcwu-fegc-en.html" target="_blank"><object type="image/svg+xml" tabindex="-1" role="img" data="images/usabilitytheme.svg" aria-label="Web Experience Toolkit"></object></a>
							<p>This theme implements the Standards of Web Usability.</p>
							<a href="#">Download Usability theme</a>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-6">
							<h4>WET theme</h4>
							<a href="http://wet-boew.github.io/wet-boew/docs/ref/theme-wet-boew/theme-wet-boew-en.html" target="_blank"><object type="image/svg+xml" tabindex="-1" role="img" data="images/wettheme.svg" aria-label="Web Experience Toolkit"></object></a>
							<p>In use on this site, this theme is an example of how the base theme can be easily changed.</p>
							<a href="#">Download WET theme</a>
						</div>
			</div>
				</div>
			</details>
			</div>
			<div class="row">
			<details>
				<summary>
					 <span class="step-title"><object type="image/svg+xml" tabindex="-1" role="img" data="images/2-circle.svg" aria-label="Web Experience Toolkit"></object>Components</span> <span class="step-details">The Toolkit contains reusable components to add interactive and accessible features to your site such as widgets, form validation, navigation menus, web feeds, and many more.</span>
				</summary>
					<div class="panel panel-default">
						<header class="panel-heading">
							<h3 class="panel-title">Plugins</h3>
						</header>
						<div class="panel-body">
							<div class="col-md-4"><p>Each plug-in adds functionality by calling the function in the class attribute of an HTML tag.</p></div>
							<div class="col-md-8"><h4>Featured Plug-in: Lightbox gallery</h4>
								<div class="row">
									<div class="col-md-4 col sm-4">
									<section class="wb-lbx lbx-hide-gal">
									<ul class="list-inline">
										<li>
											<a href="../wet-boew/demos/lightbox/demo/1_b.jpg" title="Image 1">
												<img src="../wet-boew/demos/lightbox/demo/1_s.jpg" alt="Image 1" />
											</a>
										</li>
										<li>
											<a href="../wet-boew/demos/lightbox/demo/2_b.jpg" title="Image 2">
												<img src="../wet-boew/demos/lightbox/demo/2_s.jpg" alt="Image 2" />
											</a>
										</li>
										<li>
											<a href="../wet-boew/demos/lightbox/demo/3_b.jpg" title="Image 3">
												<img src="../wet-boew/demos/lightbox/demo/3_s.jpg" alt="Image 3" />
											</a>
										</li>
										<li>
											<a href="../wet-boew/demos/lightbox/demo/4_b.jpg" title="Image 4">
												<img src="../wet-boew/demos/lightbox/demo/4_s.jpg" alt="Image 4" />
											</a>
										</li>
									</ul>
								</section>
									</div>
									<div class="col-md-8 col-sm-8">
									<p>When a user clicks on, selects or holds the image, the photo gallery opens in a fullscreen lightbox where they can view the images one by one.</p>
									<a class= "btn btn-default" href="http://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-en.html">Learn more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<header class="panel-heading">
							<h3 class="panel-title">Polyfills</h3>
						</header>
						<div class="panel-body">
							<div class="col-md-4"><p>Polyfills are JavaScript components that mimic the behaviour of HTML5 tags in browsers in order to provide backwards compatibility for browsers that do not support HTML5.</p></div>
							<div class="col-md-8"><h4>Featured Polyfill: Autocomplete</h4>
								<div class="row">
									<div class="col-md-4 col-sm-5 col-xs-5">	
									<label for="city">City</label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-5 col-xs-5">	
									<input type="text" id="city" name="city" list="suggestions" />
									<datalist id="suggestions">
										<!--[if lte IE 9]><select><![endif]-->
										<option label="Barrie" value="Barrie"></option>
										<option label="Calgary" value="Calgary"></option>
										<option label="Charlottetown" value="Charlottetown"></option>
										<option label="Chibougamau" value="Chibougamau"></option>
										<option label="Chilliwack" value="Chilliwack"></option>
										<option label="Cold Lake" value="Cold Lake"></option>
										<option label="Dorval" value="Dorval"></option>
										<option label="Edmonton" value="Edmonton"></option>
										<option label="Flin Flon" value="Flin Flon"></option>
										<option label="Hamilton" value="Hamilton"></option>
										<option label="Iqualuit" value="Iqualuit"></option>
										<option label="Ottawa" value="Ottawa"></option>
										<option label="Miramichi" value="Miramichi"></option>
										<option label="Montreal" value="Montreal"></option>
										<option label="Red Deer" value="Red Deer"></option>
										<option label="St. John" value="St. John"></option>
										<option label="St. John's" value="St. John's"></option>
										<option label="Toronto" value="Toronto"></option>
										<option label="Vancouver" value="Vancouver"></option>
										<option label="Whitehorse" value="Whitehorse"></option>
										<option label="Winnipeg" value="Winnipeg"></option>
										<option label="Yellowknife" value="Yellowknife"></option>
										<!--[if lte IE 9]></select><![endif]-->
									</datalist>
									</div>
								
								
							
									<div class="col-md-8 col-sm-8 col-xs-12">
									<p>For example, when a user types a V into a field called City, all cities beginning with V will appear in the text box.</p>
									<a class="btn btn-default" href="http://wet-boew.github.io/v4.0-ci/demos/datalist/datalist-en.html">Learn more</a>
									</div>
								
								</div>
							</div>
						</div>
					</div>
			</details>
			</div>
			<div class="row">
			<details>
				<summary>
					<span class="step-title"><object type="image/svg+xml" tabindex="-1" role="img" data="images/3-circle.svg" aria-label="Web Experience Toolkit"></object>Design elements</span><span class="step-details">This guide explains how to design front-end elements of your website by changing the cascading style sheet (CSS). Let the magic begin!</span>
				</summary>

					<div class="panel panel-default">
						<header class="panel-heading">
							<h3 class="panel-title">Core design elements</h3>
						</header>
						<div class="panel-body">
							<div class="col-md-4"><p>Here are some reusable and customizable design elements that you can use in designing your website. You can find more design elements in the <a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/index-en.html" target="_blank">design guide.</a></p>
							<div class="row">
							<ul class="col-md-6 col-sm-6">
								<li><a href="#">Buttons</a></li>
								<li><a href="#">Sizing</a></li>	
								<li><a href="#">Alignment</a></li>	
								<li><a href="#">Alerts</a></li>		
							</ul>	
							<ul class="col-md-6 col-sm-6">
								<li><a href="#">Grids</a></li>
								<li><a href="#">Lists</a></li>	
								<li><a href="#">Forms</a></li>	
								<li><a href="#">Images</a></li>		
							</ul>
							</div>
							</div>
							<div class="col-md-8"><h4>Featured Example: Alert box</h4>
								<section class="alert alert-success">
									<h3>Well done!</h3>
									<p>You successfully read this important alert message.</p>
								</section>							
									
									<p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
									<a class="btn btn-default" href="#">Learn more</a>
							</div>
						</div>
					</div>
			</details>
		</div>
	</div>
